@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section,
header {
  padding: 0;
  margin: 0;
}

/* QUERY FOR MOBILE FIRST */
html,
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the total height is at least the height of the viewport */
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: hsl(226, 43%, 10%);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  min-height: 700px; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 2rem;
}

.profile {
  width: 100%;
  min-height: 14rem; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.profile__titles {
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: space-around;
}
.profile__profile_under {
  width: 100%;
  height: 14rem;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  background-color: hsl(236, 46%, 36%);
}
.profile__profile_top {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 1.2rem;
  background-color: hsl(268, 87%, 79%);
}
.profile__person {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.profile__photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 4px solid hsl(0, 0%, 100%);
  background-image: url(../assets/images/image-jeremy.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1.5rem;
}
.profile__info {
  display: flex;
  flex-direction: column;
}
.profile p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.5;
  color: hsl(236, 81%, 90%);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.profile h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 0.5;
  color: hsl(0, 0%, 100%);
}
.profile h3 {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0.5;
  color: hsl(236, 81%, 90%);
}
.profile__timeframeBtn {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.5;
  color: hsl(236, 81%, 90%);
  border-style: none;
  background-color: hsl(236, 46%, 36%);
  cursor: pointer;
  transition: transform 0.7s ease;
}
.profile__timeframeBtn:hover {
  color: hsl(0, 0%, 100%);
  transform: scale(1.2);
}
.profile__active {
  color: hsl(268, 87%, 79%);
}

.card {
  width: 100%;
  min-height: 21rem; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 2rem;
  opacity: 1;
  margin-bottom: 2rem;
  /*   &__bgImage {
      order: -1; // This ensures the image is on top in mobile view
      width: 100%;
      height: 400px;
      background-image: url(../assets/images/illustration-sign-up-mobile.svg);
      background-size: cover;
      margin-bottom: 2rem;
      border-radius: 0px 0px 15px 15px;
      background-position: center;
      //background-color: red;
    } */
}
.card__hidden {
  display: block;
}
.card__card_under {
  width: 100%;
  min-height: 25rem; /* Use min-height to accommodate varying content sizes */
  display: flex;
  position: relative;
  border-radius: 12px;
  opacity: 1;
  background-color: hsl(15, 100%, 70%);
}
.card__bgIcon {
  width: 8rem;
  height: 8rem;
  position: absolute;
  background-image: url(../assets/images/icon-work.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0.5rem;
  right: 2rem;
  opacity: 0.7;
}
.card__card_top {
  width: 100%;
  min-height: 10rem; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 0;
  align-items: center;
  border-radius: 12px;
  margin-top: 6rem;
  opacity: 1;
  z-index: 2;
  background-color: hsl(236, 46%, 36%);
}
.card__topMenu {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}
.card__activity {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.5;
  color: hsl(0, 0%, 100%);
}
.card__ellipsis {
  width: 60px;
  height: 20px;
  font-size: 3em;
  color: hsl(0, 0%, 100%);
  top: 8rem;
}
.card__bottomMenu {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__hours {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 5rem;
  line-height: 0.5;
  color: hsl(0, 0%, 100%);
}
.card__previous {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.5;
  color: hsl(0, 0%, 100%);
}

.attribution {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem; /* Keeps the footer at the bottom but only after all other content */
  color: hsl(0, 0%, 50%);
}

.attribution a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

/*
@media (min-width: 650px) {
  .modal {
    width: 400px;
    height: 55px;
    top: 275px;
    left: 500px;
    border-radius: 10px 10px 10px 10px;
  }
}*/
/* transition: transform 0.5s ease;
&:hover {
  color: color('soft-magenta'); 
  transform: scale(1.2);
}  */

/*# sourceMappingURL=styles.css.map */
